<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500289567899-3bcsu71p0jiji54pvdvmtr1skqcc2gp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500289567899-3bcsu71p0jiji54pvdvmtr1skqcc2gp5</string>
	<key>API_KEY</key>
	<string>AIzaSyAE2QOoUF8UWEliQgz6qnDURtcREFZqkh8</string>
	<key>GCM_SENDER_ID</key>
	<string>500289567899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choyi.Journey</string>
	<key>PROJECT_ID</key>
	<string>journeyandroid-53388</string>
	<key>STORAGE_BUCKET</key>
	<string>journeyandroid-53388.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500289567899:ios:2be8c9108f60d0e3571a3e</string>
</dict>
</plist>